alembic
apispec
black
click
colorama
Flask
Flask-JWT-Extended
Flask-Migrate
flask-smorest
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
mypy-extensions
packaging
passlib
pathspec
platformdirs
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
uuid
webargs
Werkzeug